<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSA.Properties.Settings.WSA_ALGConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AWS_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WSA.Properties.Settings.ConnectionDB" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=AWS_DB;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>